.u-section-1 {
  background-image: url("images/2ae5b5205329ee16f509046eb5d33c497306b5626bcd6e3fce1ac6ad322aa7a069c6a6331a8d33aeabe29ad5938536a5ed3e4a96fdf6e2574f4f75_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 702px;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 56px 0 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  line-height: 1.6;
  font-style: normal;
  font-weight: 700;
  margin: 25px 0 60px 602px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 680px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 402px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 665px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 182px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 670px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 105px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 630px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-left: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}

.u-section-2 .u-text-1 {
  margin: 46px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 766px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 354px;
}

.u-section-3 .u-text-1 {
  margin: 99px auto 0;
}

.u-section-3 .u-text-2 {
  line-height: 1.8;
  width: 680px;
  margin: 20px auto 60px;
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-2 {
    width: 340px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 645px;
}

.u-section-4 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  width: 606px;
  margin: 60px auto 0;
}

.u-section-4 .u-line-1 {
  width: 50px;
  height: 0;
  margin: 9px auto 0;
}

.u-section-4 .u-text-2 {
  line-height: 2;
  font-size: 1.125rem;
  width: 651px;
  margin: 9px auto 2px;
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 678px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
    margin-bottom: 35px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 703px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
    margin-bottom: 60px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 532px;
}

.u-section-5 .u-text-1 {
  margin: 60px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    width: 700px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    width: 340px;
  }
}