.u-section-1 .u-sheet-1 {
  min-height: 1139px;
}

.u-section-1 .u-text-1 {
  margin: 21px 0 0;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 570px;
  margin: 30px auto 0;
}

.u-section-1 .u-image-2 {
  width: 570px;
  height: 806px;
  margin: 30px auto 60px;
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1066px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 540px;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 763px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 583px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 480px;
  }
}